.auth-page {
  display: flex;
  flex-direction: column;
  padding: 15px;

  &_actions {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  &_formfield {
    margin-bottom: 20px

  }

  &_label {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
