.todo-adder {
  // border-top: 1px solid @primary-color;
  display: flex;

  input {
    background-color: @background-color;
    border: 0;
    padding: 0;
    margin: 0;
    color: @primary-color;
    display: block;
    width: 100%;
    font-size: 20px;
    flex-grow: 1;
    padding: 8px;


    &:focus, &:hover {
      outline:0;
      background-color: darken(@background-color, 2%);

    }
  }

  button {
    flex-grow: 1;
    background-color: @background-color;
    border: 0;
    cursor: pointer;
    border-left: 1px solid @primary-color;
    color: @primary-color;
    font-weight: 800;
    font-size: 18px;
    padding: 0px 8px;

    &:hover {
      background-color: @primary-color;
      color: @background-color;
    }

  }
}
